.input-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-content: space-evenly;
    padding: 30px;
    background-color: whitesmoke;
    border: 2px solid tomato;
    height: 20%;
    width: 100%;
}

.input-field-primary,
.input-field-password,
.input-field-disabled,
.input-field-error {
    padding: 0.5rem;
    line-height: 1.5;
    border: 2px solid blue;
    background-color: rgb(244, 244, 244);
    border-bottom: .5px solid rgba(217, 217, 217, 0.75);
    border-right: .5px solid rgba(217, 217, 217, 0.75);
    border-radius: 2.5px;
    font-size: 1rem;
    margin: 1rem;
    width: 45%;
    box-shadow: -1px -1px 10px rgba(217, 217, 217, 0.75) inset;
    transition: outline 1s ease,
        color 1s ease,
        border-radius 1s ease,
        box-shadow 1s ease-in-out;
}

.input-field-primary:focus,
.input-field-password:focus,
.input-field-disabled:focus,
.input-field-error:focus {
    outline: none;
    color: blue;
    border-radius: 20px;
    border: 1px solid blue;
    /* border: 2px solid blue;
  border-top: none;
  border-left: none; */
    box-shadow: 5px 5px 1px rgba(0, 0, 255, 0.631);
    transition: outline 0.75s ease,
        color 0.75s ease,
        border-radius 0.75s ease,
        box-shadow 0.75s ease;
}

.input-field-password {
    color: grey;
}

.input-field-disabled {
    cursor: not-allowed !important;
    border-color: gray;
}

.input-field-disabled:active {
    animation: shake 0.15s;

}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(-2px, -2px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.input-field-error {
    color: red;
    border-color: red;
    background-color: rgb(255, 230, 230);
}

.input-field-error:focus {
    color: red;
    border-color: red;

    background-color: rgb(255, 230, 230);
    box-shadow: 5px 5px 1px rgba(255, 0, 0, 0.631);
}