.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    background-color: whitesmoke;
    border: 2px solid tomato;
    height: 20%;
    width: 100%;
}

.toggle-switch {
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #121c26;
    cursor: pointer;
    color: #121c26;
    background-color: #2a5f2c;
    transition: background-color ease .5s;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.toggle-switch::before {
    content: 'ON';
    position: absolute;
    width: 30px;
    height: 32px;
    background-color: green;
    color: white;
    transition: left ease .5s;
    padding-left: 1.25px;
}

.toggle-switch:checked {
    background-color: #ce4040;
    color: white;
    transition: left .5s ease;
}

.toggle-switch:checked::before {
    content: 'OFF';
    color: white;
    background-color: red;
    left: 31px;
}
